{erl_opts, [debug_info]}.
{deps, [
		{erlydtl,{git,"https://github.com/erlydtl/erlydtl.git",{tag,"0.12.0"}}}
       ]
}.
{plugins, 
	[
		{rebar3_erlydtl_plugin, ".*",{git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
	]
}.
{provider_hooks, [{post, [{compile, {erlydtl, compile}}]}]}.
{erlydtl_opts,[
				{module_ext,""},
				{compiler_options,
					[
						{verbose,verbose},
						{record_info,
							[
							   {usermod_inst,[id,inst_short_name,inst_long_name,inst_ident]}
							]
						}
					]
				}
		]
}.
